#login{
  width:100%;
  height:100%;
  background:url(../img/db.png);
  position: absolute;
  top: 0;
  z-index:999;
  .header{
    text-align: center;
    color:#FFF;
    font-size:16px;
    background:none;
    #lqx{
      width:20px;
      height:20px;
      display: block;
      position: absolute;
      top:50%;
      margin-top:-10px;
      line-height:20px;
    }
  }
  .wrap_box{
    width:100%;
    height:100%;
    overflow: auto;
    .tit{
      width:90%;
      border:1px solid #33bd61;
      margin:16px auto;
      height:38px;
      line-height:38px;
      border-radius:6px;
      a{
        color:#FFF;
        display: inline-block;
        text-align: center;
        width:50%;
      }
    }
    .list{
      width:90%;
      margin:20px auto;
      background: #F0ECE6;
      height:auto;
      min-height:134px;
      border-radius:8px;
      li{
        border-bottom:1px solid #cccccc;
        width: 90%;
        margin:auto;
        height:46px;
        line-height:43px;
        background: url(../img/dl.png) no-repeat left center;
        background-size: 14px 110px;
        input{
          margin-left:22px;
          border:none;
          background:none;
          width:50%;
        }
        &:nth-child(1){
          background-position: 0 14px;
        }
        &:nth-child(2){
          background-position: 0 -30px;
        }
        &:last-child{
          border:none;
          background-position: 0 -82px;
        }
      }
    }
    .list2{
      top:100px;
      left:50%;
      li{
        background:none;
      }
      display:none;
    }
    .pass{
      float: right;
      padding-right: 20px;
      color:#fefefe;
    }
    .dbtn{
      clear: both;
      text-align:center;
      padding-top:10px;
      li{
        width:90%;
        border-radius: 6px;
        color:#FFF;
        margin:8px auto;
        height:36px;
        line-height:36px;
        &:first-child{
        background: #33bd61;
        color:#FFF;
        }
        &:last-child{
          background:#ff8a00;
        }
      }
    }
    .through{
      p{
        border-top:1px solid #CCC;
        margin:20px auto;
      }
      em{
        width:104px;
        height:40px;
        line-height:40px;
        color:#d1c9c9;
        font-size:14px;
        position:relative;
        top:50%;
        left:50%;
        margin-left:-54px;
        background:url(../img/title.png) no-repeat;
        background-size:100% 100%;
        text-align: center;
        display:block;
        margin-top:-12%;}
    }
    .di{
      text-align:center;
      margin-top:12px;
      a{
        background:url(../img/dh.png) no-repeat;
        background-size:134px 28px;
        display: inline-block;
        width:28px;
        height:28px;
        margin-right:28px;
        &:nth-child(2){
          background-position:-58px 0;
        }
        &:nth-child(3){
          background-position: -108px 0;
        }
      }
    }
  }
  .hb{
    background: #33bd61;
    width:50%;
  }
}
.tx{
  background:url(../img/yz.png) no-repeat;
  background-size:100% 100%;
  width:62px;
  height:25px;
  display:inline-block;
  margin-top:10px;
  margin-left:16%;
}
